html,
body {
    background-color: var(--violet);
    margin : 0;
    padding : 0;
}

.hero { 
    padding-top: 0.81rem;
    padding : 0 var(--marge);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.introduction {
    display: flex; 
    flex-direction: column;
    padding: 0 var(--marge);
    align-items: center;
    margin-top: 0;
}

.introduction__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem;
    background-color: var(--fushia);
    border-bottom: none;
    width: 100%;
    box-sizing: border-box;
}

.introduction__text {
    text-align: center;
    font-family: var(--intro);
    color: var(--blanc);
    font-size: 1.125rem;
    font-style: regular;
    font-weight: 400;
    line-height: 1.65;
    margin: 0;
    padding: 0;
}

.intro{
    border-top :none;
    padding-top: 0;
    padding : 0 var(--marge);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    padding : 31px var(--marge);
    align-items: center;
}
.article__contenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    order : 2;
}

.article__description {
    padding-top : 65px;
    width: 206px;
    height: 93px;
    display : flex; 
    padding: 0;
    border-radius: 6px;
    background: var(--fushia);
}
.article__description {
    width: 199px;
    height: 89px;
    color: var(--blanc);
    font-family: var(--body);
    font-size: 17px;
    font-weight: 400;
    line-height: 23.2px;
    margin: 0;
}

.article__lien {
    text-decoration: none;
}

.article2 {
    padding : 31px var(--marge);
    align-items: center;
}
.article2__contenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    order : 2;
}

.article2__description {
    padding-top : 65px;
    width: 206px;
    height: 93px;
    display : flex; 
    padding: 0;
    border-radius: 6px;
    background: var(--fushia);
}
.article2__description {
    width: 199px;
    height: 89px;
    color: var(--blanc);
    font-family: var(--body);
    font-size: 17px;
    font-weight: 400;
    line-height: 23.2px;
    margin: 0;
}

.article2__link {
    text-decoration: none;
}

.article3 {
    padding : 31px var(--marge);
    align-items: center;
    display: flex;
}

.article3__contenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    order : 2;
}

.lien-hypertexte {
    text-decoration: none;
    color : var(--blanc);
    font-weight: bold;
}

h1{
    display: flex;
    width: 354px;
    height: 75px;
    flex-direction: column;
    justify-content: center;
    color: var(--blanc);
    text-align: center;
    font-family: var(--body);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero__title{
    background-color: var(--fushia);
    border-radius: 10px;
    width: 355px;
    height: 57px;
    font-size: 1.9375rem;
}

.hero__intro{
    display: flex;
    width: 329px;
    height: 103px;
    flex-direction: column;
    justify-content: center;
    padding: 0 var(--marge);
    color: var(--blanc);
    text-align: center;
    font-family: var(--intro);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}


.hero__info{
    padding : 33px 0;
    color: var(--blanc);
    text-align: left;
    font-family: var(--infos);
    font-size: 0.75rem;
    font-style: b;
    font-weight: 800;
    line-height: normal;
}

.img__caption{
    color: var(--blanc);
    font-family: var(--infos);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    justify-content: flex-start;
}

.paragraphe {
    margin : 0;
    padding : 0;
}
.paragraphe__contenu h2{
    margin : 0 var(--marge);
    color: var(--blanc);
    font-family: Nunito;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align : flex-start;
    background-color: var(--fushia);
    padding: 0px 12px;
    margin : 0 var(--marge);
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 33px;
}

.paragraphe__contenu p{
    padding : 0 var(--marge);
    color: var(--blanc);
    text-align: justify;
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    line-height: 23.2px;
    margin : 0;
    padding-bottom : 26px;
}

.article__link {
    text-decoration: none;
    padding :0 var(--marge);
}
