html,
body {
    background-color: var(--violet);
    margin : 0;
    padding : 0;
}

.hero { 
    padding-top: 0.81rem;
    padding : 0 var(--marge);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.introduction {
    display: flex; 
    flex-direction: column;
    padding: 0 var(--marge);
    align-items: center;
    margin-top: 0;
}

.introduction__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem;
    background-color: var(--fushia);
    border-bottom: none;
    width: 100%;
    box-sizing: border-box;
}

.introduction__text {
    text-align: center;
    font-family: var(--intro);
    color: var(--blanc);
    font-size: 1.125rem;
    font-style: regular;
    font-weight: 400;
    line-height: 1.65;
    margin: 0;
    padding: 0;
}

.intro{
    border-top :none;
    padding-top: 0;
    padding : 0 var(--marge);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    padding : 31px var(--marge);
    align-items: center;
}
.article__contenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    order : 2;
}

.article__description {
    padding-top : 65px;
    width: 206px;
    height: 93px;
    display : flex; 
    padding: 0;
    border-radius: 6px;
    background: var(--fushia);
}
.article__description {
    width: 199px;
    height: 89px;
    color: var(--blanc);
    font-family: var(--body);
    font-size: 17px;
    font-weight: 400;
    line-height: 23.2px;
    margin: 0;
}

.article__link {
    text-decoration: none;
}

.article2 {
    padding : 31px var(--marge);
    align-items: center;
}
.article2__contenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    order : 2;
}

.article2__description {
    padding-top : 65px;
    width: 206px;
    height: 93px;
    display : flex; 
    padding: 0;
    border-radius: 6px;
    background: var(--fushia);
}
.article2__description {
    width: 199px;
    height: 89px;
    color: var(--blanc);
    font-family: var(--body);
    font-size: 17px;
    font-weight: 400;
    line-height: 23.2px;
    margin: 0;
}

.article2__link {
    text-decoration: none;
}

.article3 {
    padding : 31px var(--marge);
    align-items: center;
    display: flex;
}

.article3__contenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    order : 2;
}

.lien-hypertexte {
    text-decoration: none;
    color : var(--blanc);
     font-weight: bold;
}


