.hero__image {
    width: 100%;
    height: 241px;
    aspect-ratio: 355/262;
    object-fit: cover;
}

.intro__img {
    width: 100%;
    height: 262px;
    aspect-ratio: 355/262;
    object-fit: cover;
}

.article__img {
    object-fit: cover;
}

.hero__img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.paragraphe__img{
    padding :  0 var(--blanc);
    padding-top : 26px;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction: column;
    width: 100%;
    height: auto;
    object-fit: cover;
}
