.hero__image {
    width: 100%;
    height: 241px;
    aspect-ratio: 355/262;
    object-fit: cover;
}

.intro__img {
    width: 100%;
    height: 262px;
    aspect-ratio: 355/262;
    object-fit: cover;
}

.article__img {
    object-fit: cover;
}

.hero__img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.paragraphe__img{
    padding :  0 ;
    padding-top : 26px;
    display : flex;
    justify-content : flex-start;
    align-items : center;
    flex-direction: column;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.video__player {
    width: 100%;
    max-width: 800px;
    height: 199px;
    border: none;
    display : flex;
    justify-content: center;
    align-items: center;
}

.carousel__img {
    width: 75%px;
    height: 237px;;
    object-fit: cover;
    margin : 21px 0 50px 21px;
    flex-shrink: 0;
}

.galerie__image {
    width: 100%;
    height: auto;
    display: block;
}
