.hero__image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.intro__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    align-items: flex-start;
}

.article__img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.hero__img {
    padding : 0 var(--marge);
    width: 100%;
    height: auto;
    object-fit: cover;
}


.paragraphe__img{
    width: 100%;
    height: auto;
    padding-top : 26px;
    display : flex;
    justify-content : flex-start;
    align-items : center;
    flex-direction: column;
    object-fit: cover;
}

.paragraphe__img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.video__player {
    width: 100%;
    max-width: 800px;
    height: 199px;
    border: none;
    display : flex;
    justify-content: center;
    align-items: center;
}

.carousel__img {
    width: 100%;
    height: auto;;
    object-fit: cover;
    margin : 21px 0 50px 21px;
    flex-shrink: 0;
}

.galerie__image {
    width: 100%;
    height: auto;
    display: block;
}

.img__caption{
    padding : 0 var(--marge);
    width: 100%;
    height: auto;
    color: var(--blanc);
    font-family: var(--infos);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: flex-start;
}

.img__caption img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
