/* couleurs */
:root {
  /* Mode 1 */
  /* color */
  --blanc: #ffffff;
  --fushia: #ff00ac;
  --rose-pale: #ffddf4;
  --violet: #985983;
}
/* typographies */
:root {
  /* Mode 1 */
  /* string */
  --body: Nunito;
  --infos: Inter;
  --intro: Preahvihear;
  --titre: SeoulNamsan CB;
}
/* spaces */
:root {
  /* Mode 1 */
  /* number */
  --marge: 0.0744rem;
}