.menu__close_btn{
    background: none;
    border: none;
    width: 1.25rem;
    height: 2.5625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.header__menu-btn {
    width: 1.5rem;
    height: 1.31125rem;  /*Hauteur totale de l'icône*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.35rem; /* Espacement uniforme entre les barres */
    cursor: pointer;
	background: none;
	border: none;
    margin-right: 1.1875rem;
    margin-left: 2.25rem;
}

.menu-btn__bar {
    display: block;
    width: 1.5rem;
    height: 0.10rem; /* Épaisseur de la barre */
	background-color: var(--blanc);
	border-radius: 3px; /*Bords arrondis*/
}
