.frise {
    padding: 0 var(--marge);
    margin : 0;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

.carousel__matilda {
    background-color: var(--transparent);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    min-width: 100%;
}

.carousel__img {
    width: 75%px;
    height: 237px;;
    object-fit: cover;
    margin : 21px 0 50px 21px;
    flex-shrink: 0;
}

.carousel__info {
    margin : 0;
    padding : 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--blanc);
    text-align: center;
    line-height: 1.4;
    font-family: var(--body);
    background-color: var(--fushia);
    border-radius: 5px;
}

.carousel__info h3 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom : 0;
}

.carousel__info p {
    margin: 0;
    font-size: 15px;
    padding: 0;
}

.carousel__controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-shrink: 0;
}

.carousel__controls button {
    background-color: var(--blanc);
    color: var(--fushia);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--body);
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
