.frise {
    padding: 0 var(--marge);
    margin : 0;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

.carousel__matilda {
    background-color: var(--transparent);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    min-width: 100%;
}

.carousel__info {
    margin : 0;
    padding : 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--blanc);
    text-align: center;
    line-height: 1.4;
    font-family: var(--body);
    background-color: var(--fushia);
    border-radius: 5px;
}

.carousel__info h3 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom : 0;
}

.carousel__info p {
    margin: 0;
    font-size: 15px;
    padding: 0;
}

