body.menu-open {
    overflow: hidden;
    background-color: var(--violet);
}

.header__menu {
    position: fixed ;
    top: 0;
    left: 0;
    ;
}

.menu__list {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: inherit;
}

.menu__link:hover {
    text-decoration: underline;
}
